### mysql python 연동

In [ ]:
import mysql.connector
from datetime import datetime

mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)

### insert
- values 는 %s로 집어넣어야함 숫자든 뭐든

In [7]:
import mysql.connector
from datetime import datetime

mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)

mycursor = mydb.cursor()
now = datetime.now()

sql = "INSERT INTO user (name, age, create_date_time, update_date_time) VALUES (%s, %s, %s, %s)"
val = ("강감찬", 35, now, now)
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

### select
- 커서에 옵션으로 dictionary=True를 주면 컬럼명과 데이터값이 dictionary형태로 나옴
- fetchall() : 전부 다 가져옴. fetchone() : 하나만 가져옴.

In [8]:
mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)

mycursor = mydb.cursor(dictionary=True)
sql = "select * from user"
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

print(myresult[0]["name"])

{'id': 2, 'name': '전우치', 'age': 26, 'create_date_time': datetime.datetime(2025, 4, 17, 10, 40, 47), 'update_date_time': datetime.datetime(2025, 4, 17, 10, 40, 47)}
{'id': 3, 'name': '이순신', 'age': 65, 'create_date_time': datetime.datetime(2025, 4, 17, 10, 31, 45), 'update_date_time': datetime.datetime(2025, 4, 17, 10, 31, 45)}
{'id': 5, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15)}
{'id': 6, 'name': '을지문덕', 'age': 58, 'create_date_time': None, 'update_date_time': None}
{'id': 7, 'name': '연개소문', 'age': 35, 'create_date_time': None, 'update_date_time': None}
{'id': 8, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10)}
전우치

### 한 결과만 select
- fetchall() : 전부 다 가져옴. 리스트로 감싸져 있어 번지수로 번저 찾아야함.
- fetchone() : 하나만 가져옴. 리스트가 아닌 한 row만 가져옴

In [18]:
mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)
mycursor = mydb.cursor(dictionary=True)

sql = "select * from user where id = 5"
mycursor.execute(sql)

myresult = mycursor.fetchone()

print(myresult["name"], myresult["age"])

강감찬 35

In [17]:


mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)
mycursor = mydb.cursor(dictionary=True)

sql = "select * from user where age = %s"
val = (35,)

mycursor.execute(sql, val)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

{'id': 5, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15)}
{'id': 7, 'name': '연개소문', 'age': 35, 'create_date_time': None, 'update_date_time': None}
{'id': 8, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10)}

### 정렬 orderby
- 기본 = asc 오름차순
- desc 내림자순

In [16]:
mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)
mycursor = mydb.cursor(dictionary=True)

sql = "select * from user order by name desc"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

{'id': 2, 'name': '전우치', 'age': 26, 'create_date_time': datetime.datetime(2025, 4, 17, 10, 40, 47), 'update_date_time': datetime.datetime(2025, 4, 17, 10, 40, 47)}
{'id': 3, 'name': '이순신', 'age': 65, 'create_date_time': datetime.datetime(2025, 4, 17, 10, 31, 45), 'update_date_time': datetime.datetime(2025, 4, 17, 10, 31, 45)}
{'id': 6, 'name': '을지문덕', 'age': 58, 'create_date_time': None, 'update_date_time': None}
{'id': 7, 'name': '연개소문', 'age': 35, 'create_date_time': None, 'update_date_time': None}
{'id': 5, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 25, 15)}
{'id': 8, 'name': '강감찬', 'age': 35, 'create_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10), 'update_date_time': datetime.datetime(2025, 4, 17, 11, 54, 10)}

### delete
- val 값을 줄 때 튜플로 줘야하나봄?

In [15]:
mydb = mysql.connector.connect(
    host="localhost", user="tester", password="whdwls212@", database="test"
)
mycursor = mydb.cursor(dictionary=True)

sql = "delete from user where name = %s"
val = ("홍길동",)
mycursor.execute(sql, val)
mydb.commit()


mydb.close()